*
!*/
!*.*

*.lo
*.o

config-h.in
configure

spandsp-sim/*
src/.deps/
src/.libs/
src/*
doc/*
tests/.deps/
tests/.libs/
!tests/*.
test-data/*
libtool
autom4te.cache/
config.log
config.status
spandsp.*
installer
